.face-analyze-container{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 300px;
}

.chart-wrapper {
  display: flex;
  justify-content: center;
}

.face-text{
  display: flex;
  margin: 20px 0;
  border: solid 1px black;
  height: 10vh;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
