.face-analyze-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.face-text{
  display: flex;
  margin: 30px;
  margin-bottom: 20px;
  margin-top:15px;
  border: solid 1px black;
  height: 10vh;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
