.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 1rem;
  margin-top: 50px;
  border-top: solid 1px gray;
  padding: 10px;
}

.footer-info{
  font-size: 25px;
}