.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px;
}

.app-name {
  font-size: 40px;
  margin: 0 1rem;
}

.profile ul{
  display: flex;
}

.profile ul li{
  list-style: none;
  margin-right: 1rem;
  font-size: 20px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover{
  color: gray;
}

.link:hover img {
  opacity: 0.6;
}