.header-container {
  /* flex: 2; */
  display: flex;
  flex-direction: column;
  position: relative;
}

.app-name {
  font-size: 30px;
  flex: 1;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.info {
  display: flex;
  align-items: center;
  flex: 2;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.allergy {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.allergy-data {
  flex: 1;
  font-size: 22px;
  font-weight: bold;
}
.profile {
  flex: 1;
  text-align: end;
}