.mypage-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 60px;
}

.mypage-container2{
  max-height: 180vh;
  padding-bottom: 80px;
}

.profile-edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.danger {
  display: flex;
  flex-direction: column;
  justify-content: center;
}