.list-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.style-name{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(26, 48, 56);
  color: white;
  height: 100px;
  font-size: 25px;
}

.list-glasses{
  margin: 1rem 3rem;
}