.record-container {
  /* flex: ; */
  display: flex;
  flex-direction: column;
  border-top: solid 1px rgb(209, 209, 209);
  width: 100vw;
}

.record-name{
  font-size: 20px;
  margin: 30px;
}

.record {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn3 {
  margin-right: 20px;
  margin-bottom: 20px;
  align-self: self-end;
}

.react-calendar{
  line-height: 1.125em;
}

.react-calendar .react-calendar__month-view__days__day--weekend {
    color: black;
}

.react-calendar .sunday {
  color: red;
}

.react-calendar .react-calendar__viewContainer {
  display: flex;
  margin-bottom: 15px;
}

.react-calendar .react-calendar__tile--now {
  background: whitesmoke;
  color: black;
}

.react-calendar .react-calendar__tile--now:enabled:hover,
.react-calendar .react-calendar__tile--now:enabled:focus {
  background: whitesmoke;
}

.react-calendar .react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar .react-calendar__tile--active {
  background: #006edc;
  color: white;
}

.react-calendar .react-calendar__tile--active:enabled:hover,
.react-calendar .react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}